.header {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.heading-primary {
  font-family: "Bigelow Rules", sans-serif;
  text-align: center;
  font-size: 150px;
  margin-top: 50px;
  color: #22b8cf;
}
